.conky
.tmux/
.fonts
.mpd/logs
.mpd/playlist
.mpd/mpd.log
.mpd/mpdstate
.mpd/mpd.pid
.mpd/mpd.db
.ncmpcpp/lyrics
.ncmpcpp/error.log
.nvim/bundle
.vim/bundle
.weechat/logs
.weechat/irc.conf
.weechat/script/plugins
.weechat/certs
.weechat/weechat.log
.config/ranger/bookmarks
.config/ranger/history
.config/4kdownload.com
.config/akonadi
.config/akregatorrc
.config/Android Open Source Project
.config/ardour4
.config/arkrc
.config/Atom
.config/Exponent XDE
.config/Postman
.config/autostart
.config/autostart-scripts
.config/baloofileinformationrc
.config/baloofilerc
.config/banshee-1
.config/Bitcoin
.config/Black Screen
.config/bleachbit
.config/blinkenrc
.config/bluedevilglobalrc
.config/Brackets
.config/brasero
.config/cairo-dock
.config/cef_user_data
.config/chromium
.config/cinnamon-session
.config/cobinja
.config/configstore
.config/conky-manager.json
.config/dconf
.config/deepin
.config/Deepin
.config/deepin-game-center
.config/deepin_monitors.json
.config/deepin-movie
.config/deepin-music-player
.config/deepin-social-sharing
.config/deepin-storm
.config/deepin-terminal
.config/deepin-ui
.config/deepin-wm-switcher
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/dolphin.kmessagebox
.config/dolphinrc
.config/dragonplayerrc
.config/drkonqirc
.config/DUI
.config/electron-quick-start
.config/emaildefaults
.config/enchant
.config/eog
.config/epiphany
.config/evolution
.config/fontconfig
.config/fontforge
.config/Fritzing
.config/gconf
.config/gedit
.config/ghb
.config/globaltime
.config/gnome-builder
.config/gnome-contacts
.config/gnome-control-center
.config/gnome-dictionary
.config/gnome-session
.config/goa-1.0
.config/gtk-2.0
.config/gtk-3.0
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/htop
.config/ibus
.config/inkscape
.config/kactivitymanagerdrc
.config/kalarmrc
.config/katepartrc
.config/kateschemarc
.config/katevirc
.config/kazam
.config/kbouncerc
.config/kcmdisplayrc
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kdebugrc
.config/kded5rc
.config/kded_device_automounterrc
.config/kdeglobals
.config/kdenliverc
.config/kfontinstuirc
.config/kgammarc
.config/kglobalshortcutsrc
.config/kgpgrc
.config/khelpcenterrc
.config/khotkeysrc
.config/kick-off-koa
.config/kinfocenterrc
.config/kiorc
.config/klavaro
.config/kmail2rc
.config/kmenueditrc
.config/kmetainformationrc
.config/kmixrc
.config/kolourpaintrc
.config/konsole.kmessagebox
.config/konsolerc
.config/korgacrc
.config/krunnerrc
.config/krunnerrc.jdT880
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kwriterc
.config/launcher
.config/libaccounts-glib
.config/libreoffice
.config/lxterminal
.config/matplotlib
.config/menus
.config/mimeapps.list
.config/monitors.xml
.config/nautilus
.config/nemo
.config/nitrogen
.config/nvim
.config/obs-studio
.config/okularpartrc
.config/okularrc
.config/orage
.config/org.kde.gwenviewrc
.config/pacmixer
.config/Paralect
.config/Pencil
.config/pitivi
.config/pkgbrowser
.config/plank
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmarc
.config/plasmashellrc
.config/plasmashellrc.Vmu882
.config/plasma-workspace
.config/powermanagementprofilesrc
.config/pulse
.config/QtProject
.config/QtProject.conf
.config/ristretto
.config/robomongo
.config/roots
.config/session
.config/spectaclerc
.config/sqlitebrowser
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/stuntrally
.config/synfig
.config/systemsettingsrc
.config/transmission-daemon/stats.json
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/torrents
.config/transmission/resume
.config/terminator
.config/Thunar
.config/tilda
.config/tint2
.config/Tom Thielicke IT Solutions
.config/totem
.config/trashrc
.config/Trolltech.conf
.config/unity3d
.config/user-dirs.dirs
.config/user-dirs.locale
.config/VirtualBox
.config/vlc
.config/webengineurlinterceptoradblockrc
.config/workshopper
.config/xfburn
.config/xfce4
.config/yarn
.config/yelp
.config/youtube-viewer
.config/Zeal
.zsh/
